body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  padding: 20px;
  margin: 0;
}

h1 {
  text-align: center;
  margin-bottom: 50px;
}

.tree {
  width: 100%;
  overflow-x: auto;
  text-align: center;
}

.tree ul {
  padding-top: 20px;
  position: relative;
  display: table;
  margin: 0 auto;
  text-align: center;
}

.tree ul ul {
  padding-top: 20px;
}

.tree li {
  display: table-cell;
  vertical-align: top;
  text-align: center;
  list-style-type: none;
  position: relative;
  padding: 20px 5px 0 5px;
}

.tree li::before, .tree li::after {
  content: '';
  position: absolute;
  top: 0;
  width: 50%;
  height: 20px;
  border-top: 2px solid #ccc;
}

.tree li::after {
  right: 0;
  border-left: 2px solid #ccc;
}

.tree li::before {
  left: 0;
  border-right: 2px solid #ccc;
}

.tree li:only-child::after, .tree li:only-child::before {
  display: none;
}

.tree li:only-child {
  padding-top: 0;
}

.tree li:first-child::before, .tree li:last-child::after {
  border: 0 none;
}

.tree li:last-child::before {
  border-right: 2px solid #ccc;
  border-radius: 0 5px 0 0;
}

.tree li:first-child::after {
  border-radius: 5px 0 0 0;
}

.tree li ul::before {
  content: '';
  position: absolute;
  left: 50%;
  width: 0;
  height: 20px;
  border-left: 2px solid #ccc;
  top: 0;
}

.tree li button {
  border: 2px solid #ccc;
  padding: 5px 10px;
  background-color: #fff;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  transition: all 0.5s;
  cursor: pointer;
}

.tree li button:hover {
  background: #ccc;
  color: #000;
  border: 2px solid #94a3b8;
}

/* Modal styles */
.modal {
  display: block; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  padding-top: 60px; 
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
  border-radius: 5px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
